<%= simple_form_for(Question.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :details, label: false %>
    <%= f.select :topic, collection: ["Accounting", "Bonds", "Commodities", "Estate Planning", "ETFs (Exchange Traded Funds", "Financial Planning", "Hedge Funds", "Insurance", "Legal", "Mutual Funds", "Private Equity", "Real Estate", "Retirement", "Stocks", "Socially Responsible Investing", "Venture Capital", "Other"] %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
