<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>

  <%= debug params %>

  <%= params[:trip_id] %>

  <%= f.hidden_field :trip_id, value: params[:trip_id] %>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
